/*-- scss:defaults --*/

// $code-font-size: 0.875em;
$code-font-size: 0.85em;

/*-- scss:rules --*/

pre, pre code, .sourceCode, .sourceCode code {
//   line-height: 1.5;
  line-height: 1.25;
}

.sidebar-item {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.cell-output pre {
  background-color: #fafafa;
  border-radius: 4px;
  padding: 0.75rem;
}